
    #clock
    {
        position: absolute;
        top: 0%;
        left: 41%;
        font-family: Orbitron;
        font-size:25px;
        /* text-shadow:0px 0px 1px #fff; */
        color:#FFFFFF;
    }
    #clock span 
    {
        color:#FFFFFF;
        text-shadow:0px 0px 1px #333;
        font-size:15px;
        left:-10px;
    }
    #date
    {
        position: absolute;
        top: 60%;
        left: 41%;
        letter-spacing:2px;
        font-size:10px;
        font-family:arial,sans-serif;
        color:#FFFFFF;
    }

/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:0px;
}
 
dl dt {
    padding:0px;  
}
 
dl dd {
    padding:0px;  
}